h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

a.navbar-brand {
  display: block;
  padding: 8px;
  color: white;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: Red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Contact/Index */
.menu li {
  float: left
}
.menu li a.home {
  display: block;
  color: Green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a.create {
  display: block;
  color: Red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* TABLE */
table {
  width: 100%;
}

th{
  border: 1px solid black;
  text-align: center;
  height: 40px;
  background-color: #4CAF50;
}

td{
  border: 1px solid black;
  text-align: center;
}

th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
    color: Black;
}


/* PAGINATION */
.paginate {
    background: #fff;
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.paginate span.currentStep {
    background: none repeat scroll 0 0 #337ab7;
    border: 1px solid #337ab7;
    color: #ffffff;
    display: inline-block;
    float: left;
    line-height: 32px;
    padding: 0 10px;
    position: relative;
    z-index: 10;
    font-size: 14px;
}

.paginate a.step {
    border: 1px solid #d3dbde;
    color: #9e9e9e;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 32px;
    padding: 0 10px;
}

.paginate a.nextLink {
    color: #9e9e9e;
    line-height: 32px;
    padding: 0 8px;
    border: 1px solid #d3dbde;
    float: left;
}

.paginate a.prevLink {
    color: #9e9e9e;
    line-height: 32px;
    padding: 0 8px;
    display: inline-block;
    border: 1px solid #d3dbde;
    float: left;
}
