.book-image {
    background-image: url("address-book.png");
    background-color: #cccccc;
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.button-enter {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #17a2b8;
    border-radius: 700%;
    outline: none;
}

.book-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: Black;
}

.button-book {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #337ab7;
    border-radius: 6px;
    outline: none;
}

.button-save{
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1e7e34;
    border-radius: 6px;
    outline: none;
}

.button-cancel{
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 6px;
    outline: none;
}

.button-viewAll{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1e7e34;
    border-radius: 6px;
    outline: none;
}
.action-row {
    width: 135px;
    text-align: center;
}

.paginate {
    background: #fff;
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.paginate span.currentStep {
    background: none repeat scroll 0 0 #337ab7;
    border: 1px solid #337ab7;
    color: #ffffff;
    display: inline-block;
    float: left;
    line-height: 32px;
    padding: 0 10px;
    position: relative;
    z-index: 10;
    font-size: 14px;
}

.paginate a.step {
    border: 1px solid black;
    color: blue;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 32px;
    padding: 0 10px;
}

.paginate a.nextLink {
    color: blue;
    line-height: 32px;
    padding: 0 8px;
    border: 1px solid black;
    float: left;
}

.paginate a.prevLink {
    color: blue;
    border: 1px solid black;
    line-height: 32px;
    padding: 0 8px;
    display: inline-block;
    float: left;
}

.alert {
    min-height: 50px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2000;
    background-color: #337ab7;
}

.alert .message {
    font-weight: bold;
    color: black;
}

